
:root {
  --primary-color: #BE1E2D;
  --secondary-color: #1fb3b0;
  --tertiary-color: #222f3e;
  --text-light: #eee;

  --neutral-middle: #555;
  --neutral-dark: hsl(40, 10%, 80%);
  --neutral-warm: #F2F1EF;

  --shadow: rgba(0,0,0,0.4);
  --shadow-hover: rgba(0,0,0,0.3);

  --border: 4px;
  --border-radius: .3rem;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* * * * * * * * *  */
/* UTILITIES */

.secondary-heading{
  font-size: 3rem;
  font-weight: 400;
  padding: 0rem 0 1.5rem 0;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.pb-4{
  padding-bottom: 6rem;
}

.pt-1{
  padding-top: 1rem;
}

.inline-block{
  display: inline-block;
}

.emphasize-text{
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.emphasize-link{
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: all .3s;
}

.emphasize-link:hover{
  border-bottom: 1px solid var(--neutral-warm);
}

.link-wrapper{
  padding-bottom: 2rem;
}
 
/* * * * * * * * *  */
/* NAVIGATION */

.nav{
  border-bottom: var(--border) solid var(--primary-color);
  
  position: fixed;
  width: 100%;
  background: var(--neutral-warm);
  z-index: 10;
}

.container{
    width: clamp(120rem, 120rem, 80%);
    margin: 0 auto; 
  }

.flex{
    height: calc(15vh - var(--border));
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo{
    margin-right: auto;
    width: 50%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-links li{
    padding: 0 2rem;
    font-size: 1.8rem;
    list-style-type: none;
    text-transform: uppercase;
  }
  
.nav-links li + li{
    border-left: 2px solid var(--neutral-middle);
  }
  
.nav-links li a{
    color: var(--neutral-middle);
    text-decoration: none;
    font-weight: 400;
  }

  .nav-links li a:hover,
  .nav-links li a:active,
  .navi-link li a:focus{
    color: var(--secondary-color);
  }

  .nav-links li a.active{
    color: var(--secondary-color);
  }

@media screen and (max-width: 1350px) {
  .container{
    max-width: 90%;
  }

  .logo{
    width: 40%;
  }

}

@media screen and (max-width: 1000px) {
  .container{
    max-width: 60rem;
  }
   
  .nav-links li{
    padding: 0 1rem;
    font-size: 1.5rem;
    list-style-type: none;
    text-transform: uppercase;
  }
}

  @media screen and (max-width: 675px) {
    
    .container{
      max-width: 100%;
    }

    .flex{
      flex-direction: column;
    }

    .logo{
      width: 100%;
      margin: 1.5rem auto;
    }

    .nav-links li{
      padding: 0 .75rem;
      margin: 1.5rem 0;
      font-size: 1.5rem;
    }
  }

/* * * * * * */
/* HERO      */


.hero{
    height: 100vh;
    background: linear-gradient(29deg, rgba(2,0,36,.75) 0%, rgba(31,179,176,.75) 50%, rgba(0,212,255,.75) 100%), url(./img/park-centar.jpg);
    background-size: cover;
    color: var(--text-light);
    padding-top: 10vh;
    
  }
  
  .container-hero{
    width: 80%;
  }

  .hero-heading{
    font-size: 7.5rem;
    font-weight: 300;
    padding: 10rem 0 5rem 0;
    text-shadow: .15rem .15rem .15rem var(--shadow-hover);
  }
  
  .hero-text{
    font-size: 3rem;
    font-weight: 300;
    padding-top: 2.5rem;
    text-shadow: .15rem .15rem .15rem var(--shadow-hover);
  }

  .cot-link{
    display: inline-block;
    border: .2rem solid var(--text-light);
    border-radius: var(--border-radius);
    margin-top: 3rem;
    background: var(--secondary-color);
  }
  
  .cot-link a{
    display: inline-block;
    padding: 2rem 4.5rem;
    color: var(--text-light);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15rem;
  }

  .cot-link:hover .arrow{
    transform: translate(.75rem);
  }

  .arrow{
    display: inline-block;
    padding-left: .75rem;
    font-size: 2rem;
    transition: transform .3s ease-in-out;
  }

  
@media screen and (max-width: 1350px) {

  .hero-heading{
    font-size: 6rem;
    padding: 8rem 0 4rem 0;  }

  .hero-text{
    font-size: 2.5rem;
    padding-top: 1.2rem;
  }

  .cot-link a{
    padding: 1rem 2rem;
  }

}

@media screen and (max-width: 1000px) {

  .container-hero{
    width: 100%;
  }
  
  .hero-heading{
    padding: 4rem 0 2rem 0;
  }
}

@media screen and (max-width: 675px) {
  .container-hero{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-heading{
    /* padding-top: 3rem; */
    font-size: 4.25rem;
  }
  
  .hero-text{
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 1.5rem;
    text-shadow: .15rem .15rem .15rem var(--shadow-hover);
  }
}

@media screen and (max-width: 500px){
  .hero{
    padding-top: 15vh;
  }

  .hero-heading{
    /* padding-top: 3rem; */
    font-size: 3.75rem;
  }
  
  .hero-text{
    font-size: 2rem;
  }

  .cot-link{
    margin-top: 3rem;
  }

  .cot-link a{
    letter-spacing: 0;
  }

  .arrow{
    display: none;
  }

}

@media screen and (max-width: 400px){
  
  .hero-heading{
    padding: 1em 0;
    font-size: 2.5rem;
  }
  
  .hero-text{
    font-size: 1.75rem;
  }

}


  /* * * * * * * */
  /* ABOUT US */
  
.about-us-wrapper{
  padding: 15rem 0 7.5rem 0;
  column-count: 2;
  column-gap: 7.5rem;
  column-rule: .1rem solid var(--secondary-color);
  color: var(--neutral-middle);
}

.about-us-img{
  padding-bottom: 7.5rem;
  width: 60%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  column-span: all;
}
  .about-us-heading{
    column-span: all;
  }

  .about-us-text{
    font-size: 1.6rem;
    line-height: 200%;
  }

  .video-wrapper{
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 7.5rem;
    text-align: center;
  }

  .video{
    overflow: hidden;
    object-fit: cover;
    width: 1024px;
    height: 576px;
    border: .1rem solid var(--neutral-middle);
    border-radius: var(--border-radius);
  }

  .video-title{
    color: var(--neutral-middle);
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    .video-wrapper{
      display: none;
    }
  }
  
  /* CARDS */

  .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15rem;
  }

  .card{
    width: 20%;
    padding: 2.25rem;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);   
  }
  
  
  .card p{
    font-size: 1.5rem;
    color: var(--neutral-middle);
  }

  .card ion-icon{
    font-size: 4.7rem;
    padding-bottom: 1.5rem;
    color: var(--secondary-color);
  }

  @media screen and (max-width: 1000px) {

    .cards{
      flex-direction: column;
    }

    .card{
      width: 50%;
      padding: 3rem;
    }

    .card + .card{
      margin-top: 4.5rem;
    }
  }

  @media screen and (max-width: 675px) {
    .about-us-wrapper{
      padding: 7.5rem 4rem;
      column-count: 1;
    }
    
    .about-us-heading{
      column-span: none;
    }

    .cards{
      padding-bottom: 7.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    
    .about-us-wrapper{
      padding: 4.5rem;
    }
    
    .about-us-text{
      font-size: 1.5rem;
      line-height: 150%;
    }

    .card{
      width: calc(100% - 6rem);
    }
  }


  /* * * * * * * */
  /* NEWS */

  .news{
    background: var(--neutral-warm);
    color: var(--neutral-middle);
    padding: 15rem 0;
  }
  
  .news-heading{
    font-size: 2.7rem;
    font-weight: 700;
    padding: 0rem 0 1.5rem 0;
    color: var(--primary-color);
  }

  .news-grid{
    display: flex;
    justify-content: space-between;
  }

  .news-primary,
  .news-secondary{
    flex: 1;
    
  }
  
  .news-primary{
    margin-right: 10%;
  }

  .news-primary img{
    object-fit: cover;
    width: 100%;
  }

  .date{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 3rem 0 1.5rem 0;
  }

  .news-title{
    color: var(--primary-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  .news-text{
    padding: .75rem 0 3rem 0;
    font-size: 1.5rem;
    width: 90%;
  }

  .news-text-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .3rem .6rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: var(--primary-color);
    float: right;

    border-bottom: 1px solid var(--primary-color);
    transition: all .3s;
  }
  
  .news-text-link:hover{
    border-bottom: 1px solid var(--neutral-warm);
  }

  .news-secondary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .news-previous{
    display: flex;
  }

  .news-previous + .news-previous{
    margin-top: 6rem;
  }

  .news-img,
  .news-data{
    flex: 1;
  }

  .news-data{
    padding-left: 3rem;
  }

  .news-secondary .news-previous{
    border-top: 1px solid red;
  }

  .news-secondary img{
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1350px) {
    .news-img{
      display: none;
    }

  }

  @media screen and (max-width: 1000px) {
    .news-secondary{
     display: none;
    }

    .news-primary{
      margin-right: 0;
    }

    .news-text{
      width: 100%;
    }

    .news-primary img{
      width: 100%;
    }
  }

  @media screen and (max-width: 675px) {
    .news{
      padding: 7.5rem 0;
      text-align: center;
    }

    .news-text-link{
      float: none;
    }
  }

 /* * * * * * * */
  /* LOGO GALLERY */
.logo-gallery{
  margin: 15rem 0;
}
  
.logo-gallery-flex{
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 30vh;
}

.single-logo{
  width: 90%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  
  .logo-gallery{
    text-align: center;
    margin: 0;
  }

  .logo-gallery-flex{
    flex-direction: column;
    height: 100%;
  }

  .single-logo{
    margin-left: 0;
    margin-top: 3rem;
    }

  .py-4{
     padding: 6rem 0;
  }

}
   /* * * * * * * */
  /* GALLERY */

  .gallery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 30vh;
  }

  .gallery img{
    width: 25%;
    object-fit: cover;
  }

  @media screen and (max-width: 675px) {
    .gallery{
      display: none;
    }
  }

  /* * * * * * * */
  /* REGISTRATION */

  .registration{
    background: var(--secondary-color);
    color: var(--neutral-middle);
    padding: 7.5rem 0;
  }

  .form-container{
    padding: 3rem;
    margin: 0 auto;
    background: var(--neutral-warm);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .form-container fieldset{
    border: none;
  }

.registration-fields{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.registration-field-wrapper{
  flex-basis:  48%;
}

  .form-container legend {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .form-container label {
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    margin-bottom: .3rem;
  }

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea{
	border: none;
	border-radius: var(--border-radius);
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
	padding: 1.5rem;
	margin-bottom: 3rem;
	width: 100%;
	background-color: var(--neutral-dark);
  color: var(--tertiary-color);
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container textarea:focus{
  background: var(--secondary-color);
}

.form-container .number {
	background: var(--secondary-color);
	color: var(--neutral-warm);
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	display: inline-block;
	margin-right: 1.5rem;
	text-align: center;
  border-radius: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translateY(-.4rem);
}

.star{
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding-top: .5rem;
  color: var(--primary-color);
  margin: 0 .75rem;
  transform: translateY(.5rem);
}

.note{
  font-size: 1.5rem;
  text-align: center;
}

.form-container input[type="submit"]{
	position: relative;
	display: block;
	padding: 1.5rem 3rem;
	color: var(--neutral-warm);
	margin: 0 auto;
	background: var(--secondary-color);
  font-size: 1.8rem;
  text-transform: uppercase;
	text-align: center;
  width: 100%;
  border: 0;
  border-radius: var(--border-radius);
}

.form-container input[type="submit"]:hover{
  background: var(--tertiary-color);
  cursor: pointer;
}

@media screen and (max-width: 1000px){
  .center{ 
    width: 100%; 
    text-align: center;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 500px){
  .form-container label {
    font-size: 1.25rem;
  }
}

  /* * * * * * * */
  /* FOOTER */

  .footer{
    background: url(./img/truck_park_1.jpg);
    box-shadow: inset 0 0 0 1000px rgb(34, 47, 62,.9);
    background-size: cover;
    padding-top: 15rem;
    position: relative;
  }

  .footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-wrapper-item{
    width: 100%;
  }

.logo-container .logo{
  width: 35%;
  padding-bottom: 3rem;
}

.content-container{
 color: var(--neutral-warm);
 font-size: 1.5rem;
 font-weight: 300;
}

.content-wrapper{
  display:flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 3rem;
}

.content-wrapper a{
  color: var(--neutral-warm);
  text-decoration: none;
}

.content-wrapper a:hover{
  text-decoration: underline;
}

.content-container ion-icon{
  margin-right: 1.5rem;
  font-size: 3rem;
  color: var(--primary-color);
}

.copyright-wrapper{
  padding: 3rem 0;
  width: 100%;
  border-top: 1px solid red;
  margin-top: 15rem;
}

.copyright{
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .15rem;
}

.to-top{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  font-weight: 700;
  border: .5rem solid var(--secondary-color);
  border-radius: 50%;
  background: var(--neutral-warm);
  color: var(--secondary-color);
  opacity: 1;
  transition: opacity .5s;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: .1rem .1rem .1rem var(--shadow-hover);
}

.to-top:hover{
  cursor: pointer;
}

.to-top p{
  padding-bottom: .75rem;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .logo-container .logo{
    width: 50%;
    padding-bottom: 3rem;
  }

  .copyright-wrapper{
    padding: 2.25rem 0;
    margin-top: 7.5rem;
  }
}

@media screen and (max-width: 675px) {
  .footer{
    margin-top: 6rem;
    padding-top: 9rem;
    text-align: center;
  }
  
  .logo-container .logo{
    width: 70%;
    padding-bottom: 3rem;
  }
  
  .content-container{
    width: 27rem;
    margin: 0 auto;
  }

  .content-wrapper{
    padding: 1.5rem 0;
  }

  .copyright{
    color: var(--neutral-warm);
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0;
  }

  .to-top{
    right: 1rem;
    bottom: 1rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    border: 3px solid var(--secondary-color);
  }
}




/* * * * * * * * * * * * * * * * */

/* NEWS PAGE                    */

/* * * * * * * * * * * * * * * * */

.news-background{
  background: linear-gradient(29deg, rgba(2,0,36,.75) 0%, rgba(31,179,176,.75) 50%, rgba(0,212,255,.75) 100%), url(./img/park-centar.jpg);
  background-size: cover;
  min-height: 100vh;
}

.news-page{
  color: var(--neutral-middle);
  padding: 7.5rem 0;
  padding: calc(15vh + 7.5rem) 0 7.5rem 0;
}

.single-news{
  background: var(--neutral-warm);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.single-news + .single-news{
  margin-top: 4rem;
}

.single-news-img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.single-news-content{
  width: 90%;
  margin: 3rem auto;
}

.single-news-date{
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: .75rem;
}

.single-news-title{
  color: var(--primary-color);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1rem;
}

.single-news-txt{
  font-size: 1.8rem;
  line-height: 150%;
}

.single-news-txt a{
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
  transition: all .3s;
}

.single-news-txt a:hover{
  border-bottom: 1px solid var(--neutral-warm);
}

.single-news-gallery{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;   
}

.single-news-gallery img{
  margin: .5rem;
  width: 16rem;
  height: 12rem;
  object-fit: cover;
  cursor: pointer;
  border: .2rem solid var(--primary-color);
  border-radius: .3rem;
}

.single-news-gallery img:hover{
  border-color: var(--tertiary-color);;
}

#lightbox {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  object-fit: cover;
  padding: .5rem;
  background-color: var(--neutral-warm);
}

/* * * * * * * * * * * * * * * * */

/* SUCESS                        */

/* * * * * * * * * * * * * * * * */

.flex-success{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgba(34,47,62,1) 0%, rgba(34,193,195,1) 100%) no-repeat;
}

.success{
  color: var(--neutral-middle);
  background: var(--neutral-warm);
  max-width: 90rem;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  padding: 7.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  opacity: 0;
  animation: zoom .5s ease-in 1s;
  animation-fill-mode: forwards;
}

.success-back{
  padding-top: 3rem;
}

.success-link{
  color: var(--primary-color);
  text-decoration: none;
}

@keyframes zoom{
  from{
    opacity: 0;
    transform: scale(.5);
  }

  to{
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 675px) {
  .success{
    max-width: 30rem;
    font-size: 2rem;
    padding: 9rem 3rem;
  }
  .success-back{
    padding-top: 5rem;
  }
  }