body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
    animation: rocket 5s ease-in-out infinite alternate;
}


@keyframes rocket {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  